@import './spectral-glow.css';

html, body {
  padding: 0;
  margin: 0;
  background-color: var(--gray10);
}

* {
  box-sizing: border-box;
}

pre {
  margin: 0;
}

.inspectral-container {
  position: relative;
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  margin: 50px;
}

.inspectral-editor-container {
  width: 100%;
  height: 100%;
}

.inspectral-editor {
  position: absolute;
  left: 0;
  width: calc(50% - 25px);
  height: 100%;
}

.inspectral-viewer {
  position: absolute;
  top: 0;
  left: calc(50% + 25px);
  width: calc(50% - 25px);
  height: 100%;
}